<div class="center jumbotron">
  <h1>Slack Appへようこそ</h1>

  <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Slack Application</a>
    slack application.
  </h2>
  <%= link_to "サインイン", signin_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ワークスペース作成", "createworkspaces", class: "btn btn-lg btn-primary" %>
</div>