Hi <%=  @m_user.name  %> ,

Welcome to the Slack App!<h3><%=  @workspace_name  %></h3> Click on the link below to join your account:

<%=  edit_joinworkspace_url(@m_user.invitation_token,email: @m_user.email) %>
