<div class="header">
<div class="top_header">
<div class="header-right">
<a href="#"><h4>&#9881;</h4></a> 
<%= link_to "★", starmessage_path %>
<%= link_to "@", mentionmessage_path %>
</div>
</div>
</div>